body{
    padding-top: 48px;
}

/* ヘッダー */
div header{
    width: 100%;
    line-height: 48px;
    position: fixed;
    justify-content: space-between;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
}

.menu{
    margin-left: 5%;
}
.title{
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.icons{
    margin-right: 5%;
}

/* メイン */
.main{
    border: solid;
    border-color: whitesmoke;
    padding: 5%;
}

p{
    text-align: center;
}

table{
    width: 90%;
}

.select{
    width: 30%;
    text-align: center;
    background-color: #f5f5f5;
}

td a{
    display: inline-block;
    text-align: left;
    margin-right: 3%;
}

td{
    background-color: #f8f8ff;
}
.container{
    justify-content: space-around;
    background-color: gainsboro;
    width: 100%;
}
.container div{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 30%;
    height: 10%;
    margin: 5px;
    padding: 3px;
    color: block;
    text-align: center;
    overflow-wrap: break-all;
    display: inline-block;
}

.type_number{
    width: 45px;
    height: 30px;
}